/* Custom.css Styles by Kevin Westropp */

html, body, .container {
    height: 100%;
}

body {
    overflow-x: hidden;
}

body > .container {
    height: auto; 
    min-height: 100%;
}

#scrollbar {
    position: absolute;
}

#scrollbar.affix {
    position: fixed;
    top: 50;
}

#default-flash {
    position: relative;
    float: right;
    top: 10px;
    right: 0px;
    margin-top:10px;
    margin-bottom:10px;
    background-color:#18bc9c;
    background-image: -webkit-linear-gradient(top,#18bc9c,#18bc9c);
    background-image: -o-linear-gradient(top,#18bc9c,#18bc9c);
    background-image: -moz-linear-gradient(90deg, #18bc9c, #18bc9c);
    background-image: linear-gradient(top,#18bc9c,#18bc9c);
}

#project-flash {
    position: relative;
    float: right;
    top: 10px;
    right: 0px;
    margin-top:10px;
    margin-bottom:10px;
    background-color:#666;
    background-image: -webkit-linear-gradient(top,#868d97,#6c737e);
    background-image: -o-linear-gradient(top,#868d97,#6c737e);
    background-image: -moz-linear-gradient(90deg, #868d97,#6c737e);
    background-image: linear-gradient(top,#868d97,#6c737e);
}

#blog-flash {
    display = none;
    position: relative;
    float: right;
    top: 10px;
    right: 0px;
    margin-top:20px;
    margin-bottom:10px;
    background-color:#333;
    background-image: -webkit-linear-gradient(top,#333,#333);
    background-image: -o-linear-gradient(top,#333,#333);
    background-image: -moz-linear-gradient(90deg, #333,#333);
    background-image: linear-gradient(top,#333,#333);
}

#cv-flash {
    font-weight:bold;
    display:none;
    position:fixed;
    background-color:#333;
    padding:10px;
    min-width:280px;
    opacity:0.95;
    margin:20px 20px 20px 20px;
    vertical-align:middle;
    cursor:pointer;
    color:#fff;
    border:2px solid #fff;
    border-radius:8px;
    -o-border-radius: 8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    background-image: -webkit-linear-gradient(top,#333,#333);
    background-image: -o-linear-gradient(top,#333,#333);
    background-image: -moz-linear-gradient(90deg, #333,#333);
    background-image: linear-gradient(top,#333,#333);
    background-repeat: repeat-x;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    z-index:2000;
}

#closeflash {
    color:inherit;
    float:right;
    margin-left:15px;
}

.ie-lte7 #closeflash{
    color:expression(this.parentNode.currentStyle['color']);
    float:none;
    position:absolute;
    right:4px;
}

#cv-flash:hover {
    opacity:0.25;
}

.aiframe {
	margin:15px 15px 15px 15px;
	width:300px;
	height:200px;
	display:block;
}

.projectiframe {
	-moz-transform: scale(0.25, 0.25);
	-webkit-transform: scale(0.25, 0.25);
	-o-transform: scale(0.25, 0.25);
	-ms-transform: scale(0.25, 0.25);
	transform: scale(0.25, 0.25);
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;
}

footer.flatly {
    background: #2c3e50;
    color: #FFF;
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 200px;
}

footer.spacelab {
    background: #e9e9e9;
    color: #999;
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 200px;
}

footer.readable {
    background: #eee;
    color: #000;
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 200px;
}
