<!--About Section 
====================-->
<div class="row content-section">
    <div class="col-md-12">
        <div class="text-center">
            <h2 id="summary" class="page-header">Summary</h2>
        </div>
        <p class="lead paragraph margin-sides-ten margin-top-thirty">
          Kevin Westropp is a graduate student at <a href="http://www.cdm.depaul.edu/Pages/default.aspx" target="_blank">DePaul University</a> working on his masters in computer science. He is an avid developer and plans to work in software development after graduation. He welcomes future opportunities for employment and requests for consulting.
        </p>
    </div><!--/End 12-->
</div><!-- End About Section -->
