<!-- Blog Posts -->
            <div class="col-md-5">
                <div class="well well-sm">
                    <h4>Blog Posts</h4>
                        <hr />
                        <div class="list-group">
                            <ul>
                                <a href="http://www.kevinpatrickwestropp.com/algorithms/code/reuse/2013/02/08/recycling-code.html" class="list-group-item">
                                    <h5 class="list-group-item-heading">Recycling Code</h5>
                                    <p class="list-group-item-text">A little rant about recycling your code, which will make us all more productive.</p>
                                </a>
                                <a href="http://www.kevinpatrickwestropp.com/ide/editors/2012/12/02/development-tools.html" class="list-group-item">
                                    <h5 class="list-group-item-heading">Development Tools</h5> 
                                    <p class="list-group-item-text">A strong list of proper development tools for any type of programmer or designer.</p>
                                </a>
                            </ul>
                            {{=A(TAG.i(_class='glyphicon glyphicon-list'), T(' View All Posts'), href=URL('blog','index'), _class="pull-right btn btn-success btn-sm")}}<br /><br />
                        </div><!--/End ListGroup-->
                    </div><!--/End Well-->
                </div><!--/End Posts-->
