<div id="header">
    <div class="header">
        <h3>Curriculum Vitae for</h3>
		<h1>Kevin Patrick Westropp</h1>
            <address class="text-center">
			  {{=A(IMG(_src=URL('static','images/depaullogo.jpg'), _alt="DePaul", _width="25", _height="25"), _href="http://www.cdm.depaul.edu/", _target="_blank")}}
			  {{=A(IMG(_src=URL('static', 'images/linkedin.png'), _alt="LinkedinIcon", _width="25", _height="25"), _href="https://www.linkedin.com/in/kevinpatrickwestropp", _target="_blank")}}
			  {{=A(IMG(_src=URL('static', 'images/email.png'), _alt="email icon", _width="25", _height="25"), _href="mailto:mail@kevinpatrickwestropp.com", _target="_blank")}}
			</address>
	</div>
{{include 'cv-sidenav.html'}}
</div><!--/End Header Row-->
