<!-- Selected Projects -->
        <div class="col-md-5 pull-right">
            <div class="well well-sm">
                <h4>Selected Projects</h4>
                <hr />
                <ul>
                    <li style="margin-top:5px">
                        <strong><a href="http://www.kevinpatrickwestropp.com/MyWebServer" target="_BLANK">My WebServer - A web server written in Java</a></strong>
                        <a href="https://github.com/highlanderkev/MyWebServer" target="_BLANK"><span class="label label-info">Code <span class="glyphicon glyphicon-open"></span></span></a>
                    </li>
                    <li style="margin-top:5px">
                        <strong><a href="http://www.kevinpatrickwestropp.com/StockExVirtuoso" target="_BLANK">Stock Exchange Virtuoso - a virtual stock exchange</a></strong>
                        <a href="https://github.com/highlanderkev/StockExVirtuoso" target="_BLANK"><span class="label label-info">Code <span class="glyphicon glyphicon-open"></span></span></a>
                    </li>
                    <li style="margin-top:5px">
                        <strong><a href="http://www.kevinpatrickwestropp.com/Shell_Lab" target="_BLANK">CSC 374: Shell Lab</a></strong>
                        <a href="https://github.com/highlanderkev/Shell_Lab" target="_BLANK"><span class="label label-info">Code <span class="glyphicon glyphicon-open"></span></span></a>
                    </li>
                    <li style="margin-top:5px">
                        <strong><a href="http://www.kevinpatrickwestropp.com/Malloc_Lab" target="_BLANK">CSC 374: Malloc Lab</a></strong>
                        <a href="https://github.com/highlanderkev/Malloc_Lab" target="_BLANK"><span class="label label-info">Code <span class="glyphicon glyphicon-open"></span></span></a>
                    </li>
                </ul>
                {{=A(T('Projects'), _href=URL('projects', 'index'), _class="pull-right btn btn-success")}}
                <br /><br />
            </div><!--/End Well-->
        </div><!--/End Projects-->
