<!-- Footer
============-->
<div class="row">
    <div class="footer-content">
        <div class="text-center">
                {{=T('Copyright')}} &#169; {{=request.now.year}} {{=A('Kevin Patrick Westropp', _href='mailto:mail@kevinpatrickwestropp.com', _target='_blank')}}
                -
                {{=T('Powered by')}}
                {{=A(B('web',SPAN(2),'py'), XML('&trade;&nbsp;'), _href="http://www.web2py.com/", _target="_blank", _style="margin-bottom:5px")}}
                -
                {{=T('Hosted by')}}
                {{=A(T('Google App Engine'), _href='https://developers.google.com/appengine/', _target="_blank", _class="brand")}}
        </div>
    </div>
</div><!--/End Row -->
