<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
    {{include 'bloghead.html'}}
</head>
<body>
  <!-- Navbar
  ===========-->
  {{include 'navbar.html'}}

  <div class="container">
    <!-- Header
    ============-->
    <!--MastHead
    =============-->
    <header class="mastheader row" id="header">
        <div class="span12">
        </div>
    </header>

    <section id="main" class="main row">
        <div class="span12">
            {{block center}}
            {{include}}
            {{end}}
        </div>
    </section><!--/End Main-->

   </div><!-- /End Container -->

    <footer id="footer" class="readable">
        <div class="container">
            <small>Theme <a href="http://bootswatch.com/2/readable/">Readable</a> by <a href="http://thomaspark.me/">Bootswatch</a></small>
            {{include 'footer.html'}}
        </div><!-- /End Footer Container -->
    </footer><!--/End Footer-->

<!-- Place Scripts at the end of document to load faster
========================================================-->
{{include 'javascripts.html'}}
<!-- End Javascripts -->
</body>
</html>
{{pass}}
